# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=........fix mw......
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='JAGSQWAORIIUS5M2' password='Kia+o/+lzygj9lYL0+mYnEN8YREDn696uQ7nl4OP1g9P2qJFhccXIwlrf0ta19bh';
sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for Kafka producer to prevent data loss
acks=all
